/* 전체적용 */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#container {
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;
}
/* ??어디인지모름 */
#ok {
  right: 1px;
}

/* ///////////contents/////////////*/

.contents {
  background-color: #f5f5f5;
  display: block;
  position: relative;
  float: right;
  width: 89%;
  height: 80%;
  /* z-index: -1; */
}

/* contents-header */
.fa-bars:before,
.fa-folder-plus:before,
.fa-user-plus:before {
  font-size: xx-large;
  color: #3a3b45;
  background-color: #f5f5f5;
  width: 28px;
  height: 32px;
}

.contents-header {
  height: 10%;
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.contents-header-title {
  margin-right: 1.5rem;
}

.contents-header__btns {
  border: none;
}

.contents-header-showinglist,
.contents-header-addgroup,
.contents-header-invite {
  margin-right: 1rem;
}

/* contents-header */

.contents-memo {
  height: 90%;
}
/* ///////////contents/////////////*/
