/* header btn */
.header-memo_btn,
.header-profile__icon,
.header-bell__icon {
  border: 0;
  background-color: #fff;
}

/* header profile */
.popup-profile {
  position: fixed;

  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.popup-profile_inner {
  background: white;
  margin: auto;
  width: 40%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner_form-container,
.inner_profile-header {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 가로 중앙에 자식을 배치 */
  justify-content: center;
  /* 세로에서 가운데에 자식을 배치 */
  /* 
  width: 100%;
  max-width: 24rem; */
}

.inner_profile-header {
  /* color: #4e73df;
  margin: 1rem auto;
  color: red;
  height: 15%;
  margin-bottom: 1rem;
  margin-top: 1rem; */
}
.inner_form-container {
  /* margin: 0rem, 2rem;
  height: 80%; */
}

/* input.profile_input {
  margin: auto;
  border: 1px;
  height: 2.3125rem;
  max-width: 20rem;
  width: 100%;
  display: flex;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 0.25rem;
}
input.profile_input:not(:last-child) {
  margin-bottom: 1.5625rem;
}

button.profile_btns {
  height: 2.3125rem;
} */
