/* header btn */
.header-memo_btn,
.header-profile__icon,
.header-bell__icon {
  border: 0;
  background-color: #fff;
}

/* header profile */
.popup-profile {
  position: fixed;

  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.popup-profile_inner {
  background: #f5f5f5;
  margin: auto;
  width: 100%;
  max-width: 40%;
  height: 28.125rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner_profile-header,
.inner_form-container {
  width: 100%;
  max-width: 70%;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* 가로 중앙에 자식을 배치 */
  justify-content: center;
  /* 세로에서 가운데에 자식을 배치 */
}

.inner_profile-header {
  margin-top: 2%;
  margin-bottom: 2%;
  height: 13%;
}

.profile_h1 {
  color: #4e73df;
  margin: auto;
}

.inner_form-container {
  height: 70%;
}

input.profile_input {
  height: 11%;
  width: 80%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 0.25rem;
  border: none;
  background-color: #fff;
  /*
  max-width: 20rem;
  width: 100%;
  display: flex;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  */
}
input.profile_input:not(:last-child) {
  margin-bottom: 5%;
}

.profile_confirm-btn,
.profile_cancel-btn {
  height: 100%;
  width: 40%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 0.25rem;
  border: none;
  color: #fff;
}

.profile_btns {
  height: 11%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile_confirm-btn {
  background-color: #3498db;
  margin-right: 10%;
}

.profile_cancel-btn {
  background-color: #ea232c;
}
