* {
  margin: 0;
  padding: 0;
}

#ok {
  right: 1px;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  text-align: inherit;
}

.sidebar {
  display: block;
  width: 11%;
  height: 100%;
  background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
  padding-top: 10px;
  position: fixed;
}

.sidebar li {
  border-radius: 0 25px 25px 0;
  height: 50%;
  text-align: center;
  color: #fff;
  border-bottom: 0.1em solid rgba(0, 0, 0, 0.2);
  margin-top: 3px;
}
.sidebar li a {
  padding: 0.3rem 0;
  margin: 0.5rem 0;
}

.sidebar li div {
  display: block;
  margin: 0.7rem 1rem;
  background-color: #fff;
  position: relative;
  font-size: 0.85rem;
  border-radius: 0.35rem !important;
  line-height: 1.5;
  color: #3a3b45;
}

.sidebar li div a {
  display: block;
}

.contents {
  width: 89%;
  float: right;
}
.contents-memo {
}
.contents {
  background-color: #f5f5f5;
  display: block;
  height: 100%;
}
.contents-header {
  height: 10%;
  display: inline-block;
}

.contents-memo {
  height: 90%;
}

.footer {
  width: 89%;
  right: 0px;
  position: absolute;
  bottom: 0px;
}
