* {
  margin: 0;
  padding: 0;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.dropdown {
  position: absolute;
}
#ok {
  right: 1px;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  text-align: inherit;
}
.dropdown-menu {
  width: 10rem;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  margin-top: 1.8rem;
  text-align: center;
  right: auto;
  bottom: auto;
  top: 0px;
  left: 0px;
  transform: translate(-133.6px, 60.8px);
  /*5.8, 화면밖넘어감 수정  */
}

.dropdown-menu a {
  text-decoration: none;
}

.header {
  width: 100%;
  display: flex;
  /* 5.8 수정, 메인 헤더 padding수정  */
  padding: 10px 0 3px 0;
  border-bottom: 0.1em solid rgba(0, 0, 0, 0.2);
  flex-flow: row nowrap;
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  width: 50px;
  height: 50px;
}

.logo-header-title p {
  color: #4c71dd;
  background: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-family: "Product Sans", Arial, sans-serif;
  padding-top: 0.5rem;
}

.search-form {
  width: 22%;
  margin: 0 0 0 1rem;
  display: inline-block !important;
}
.right-header {
  width: 64%;
  right: 2rem;
  margin: 1.2rem 2rem 1.2rem 0;
  display: flex;
}

.search {
  width: auto;
  display: flex;
  margin-top: 1.2rem;
  padding-left: 10px;
  padding-right: 10px;
}

.input-search {
  flex: 1 1 auto;
  height: 2.3125rem;
  border: 0 !important;
  background-color: #f8f9fc !important;
  font-size: 0.85rem;
  padding: 0 0.75rem;
}

.search-submit {
  left: -1;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: #4e73df;
  border-color: #4e73df;
  width: 2rem;
  border-radius: 0.35rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.fa-hashtag:before {
  color: #fff;
  font-size: large;
}
.fa-plus:before,
.fa-bell:before,
.fa-user:before {
  font-size: xx-large;
  color: #3a3b45;
}
.header-addmemo {
  padding-top: 0.1rem;
  position: absolute;
  right: 10.8rem;
}

.header-profile,
.header-bell {
  position: absolute;
}
.header-bell {
  right: 6.8rem;
}

.header-profile {
  right: 3rem;
}

.sidebar {
  display: block;
  width: 11%;
  height: 100%;
  background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
  padding-top: 10px;
  position: fixed;
}

.sidebar li {
  border-radius: 0 25px 25px 0;
  height: 50%;
  text-align: center;
  color: #fff;
  border-bottom: 0.1em solid rgba(0, 0, 0, 0.2);
  margin-top: 3px;
}
.sidebar li a {
  padding: 0.3rem 0;
  margin: 0.5rem 0;
}

.sidebar li div {
  display: block;
  margin: 0.7rem 1rem;
  background-color: #fff;
  position: relative;
  font-size: 0.85rem;
  border-radius: 0.35rem !important;
  line-height: 1.5;
  color: #3a3b45;
}

.sidebar li div a {
  display: block;
}

.contents,
.contents-memo {
  display: inline-block;
  min-width: 0;
  width: 89%;
  float: right;
  background: transparent;
}

.contents-header {
  height: 10%;
}

.contents-memo {
  height: 90%;
}

.footer {
  width: 89%;
  right: 0px;
  position: absolute;
  bottom: 0px;
}
